// 
// Icons
// 

// Styling for the rounded social media links

button.icon {
    background-color: $primary;
    border: none;
    color: var(--color-text);
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
}

#sun {
    display: var(--display-sun);
    color: orange;
}

#moon {
    display: var(--display-moon);
    color: black;
}

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: var(--color-text);
        color: var(--color-page-background);
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $primary;
            color: var(--color-text);
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
    color: #1B8697;
}
