doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Raj Shah

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Raj Shah
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.png', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact
                    li.nav-item
                        button.icon(onclick="document.body.classList.contains('dark') ? document.body.classList.remove('dark') : document.body.className += ' dark'")
                            i#sun.fas.fa-sun
                            i#moon.fas.fa-moon

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Raj 
                        span.text-primary Shah
                    .subheading.mb-5
                        | Raleigh, NC · (603) 921-9526 · 
                        a(href='mailto:rshah28@ncsu.edu', target='_blank') rshah28@ncsu.edu
                    p.lead.mb-5
                        | Gradudate student in Computer Science at <a href="https://www.csc.ncsu.edu/" target="_blank">North Carolina State University</a> (Graduating Summer 2022). <br> Previously Software Engineer at <a href="https://www.ge.com" target="_blank">GE</a>.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/shahrk97/', target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='assets/resume.pdf', target='_blank')
                            i.far.fa-file
                        a.social-icon(href='https://github.com/shahrk', target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/rajshah_06', target='_blank')
                            i.fab.fa-twitter

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Research Programmer
                            .subheading.mb-3 North Carolina State University
                            ul
                                li
                                    | SimStudent is an ML-agent used as a synthetic tutee for students to learn by teaching.
                                li
                                    | Worked on making SimStudent available on the web by transforming the existing java based desktop application to a web based application using Spring Boot, Angular & MySQL.
                                li 
                                    | Made it support concurrent users and implemented service for health checking servers and routing users to appropriate servers (as routing needed to be sticky).
                        .flex-shrink-0
                            span.text-primary January 2021 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 General Electric (GE)
                            ul
                                li 
                                    | Developed an application that models cost of service agreements between GE and wind farm owners. Technologies used: Spring Boot, Angular, Node and other AWS services
                                li 
                                    | Setup OAuth2 authentication and authorization for the cost modelling application
                                li 
                                    | Created a reverse proxy service using Node that acted as an entrypoint for incoming requests
                                li 
                                    | Developed Raven, a service for sending targeted email, text message and push notifications based on user location. Technologies used: Spring Boot, RabbitMQ, UrbanAirShip
                                li
                                    | Dockerized local development setup and automated deployment using Jenkins
                                li 
                                    | Created generic CRUD API to enable dynamic crud operations without any boiler plate (used for prototyping)
                                li 
                                    | Led migration from Cloud Foundry to AWS, as well as efforts for refactoring and performance optimization
                        .flex-shrink-0
                            span.text-primary June 2018 - October 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer Intern 
                            .subheading.mb-3 General Electric (GE)
                            ul
                                li
                                    | Developed a notification system for handling push notifications. Technologies used: JavaScript, NodeJs, Express, Spring Boot
                                li 
                                    | Handled the end to end development of a product catalog web app. Technologies used: Angular 6, NodeJS, Express
                        .flex-shrink-0
                            span.text-primary January 2018 - Mat 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Teaching Assistant
                            .subheading.mb-3 DAIICT
                            ul 
                                li 
                                    | Teaching assistant for Study Hours of Data Structure and Algorithms
                                li 
                                    | Worked with students who lagged behind in studies towards improving their grades by helping them with assignments, revisiting abstruse topics and solving doubts
                        .flex-shrink-0
                            span.text-primary June 2017 - December 2017
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Research Assistant
                            .subheading.mb-3 DAIICT
                            ul 
                                li 
                                    | Created Python script for collecting, cleaning and processing more than 10 Million tweets
                                li 
                                    | Determined factors with positive correlation such as influence factor (number of followers), trending factor (google trends score), sentiment (using naive bayes), time of tweet
                        .flex-shrink-0
                            span.text-primary April 2017 - May 2017

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 North Carolina State University
                            .subheading.mb-3 Masters of Computer Science
                            div Courses Taken - Computer & Network Security, DBMS, Automated Learning and Data Analysis, Software Engineering, Design & Analysis of Algorithms
                            p GPA: 4.00
                        .flex-shrink-0
                            span.text-primary January 2021 - Present (Expected Gradudation: May 2022)

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Dhirubhai Ambani Institute of Information & Communication Technology
                            .subheading.mb-3 Bachelors of Technology in Computer Science
                            div Courses Taken - Operating Systems, Computer Networks, Database Systems, System Software, Object Oriented Programming
                            p GPA: 8.19
                        .flex-shrink-0
                            span.text-primary August 2014 - May 2018

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Frameworks
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            <img src="assets/img/spring.png" width="45" height="45"/>
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fas.fa-database
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            <img src="assets/img/go.png" width="50" height="45"/>
                        li.list-inline-item
                            i.fab.fa-react
                    .subheading.mb-3 Tools (Software & Libraries)
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            <img src="assets/img/redis.png" width="45" height="45"/>
                        li.list-inline-item
                            i.fab.fa-jenkins
                        li.list-inline-item
                            <img src="assets/img/postman.png" width="50" height="50"/>
                        li.list-inline-item
                            i.fab.fa-git-alt
                        li.list-inline-item
                            i.fab.fa-bootstrap
                        li.list-inline-item
                            i.fab.fa-gulp
                    .subheading.mb-3 Other
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | MySQL/PostgreSQL
                        li
                            span.fa-li
                                i.fas.fa-check
                            | MongoDB
                        li
                            span.fa-li
                                i.fas.fa-check
                            | RabbitMQ
                        li
                            span.fa-li
                                i.fas.fa-check
                            | JMeter

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a software engineer, I enjoy playing tennis, swimming, hiking, rock climbing, and reading books. I also like to play Dota ocassionally.
                    p.mb-0
                        | I spend a large amount of my free time exploring the latest technology advancements in the software world and am really interested in system design. I am also interested in finance and economics. I have been recently exploring the crypto DeFi space as it is at the intersection of my interests of finance, economics and software. 

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            .subheading.mb-3 <a href="https://github.com/shahrk/basic-rate-limiter" target="_blank">API Rate Limiter</a>
                            p 
                                |  An API rate limiter developed in NodeJS using Express and Redis
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            .subheading.mb-3 <a href="https://raj-chatroom.herokuapp.com/" target="_blank">Chat Room Application</a>
                            p 
                                | A real time chat room application using Spring Boot, Web Sockets and RabbitMQ
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            .subheading.mb-3 <a href="https://github.com/shahrk/wolfWr-backend" target="_blank">Big Box Retailer Database Service</a>
                            p 
                                | Designed and implemented a database service for a Costco like store using MariaDB & Spring Boot. Performed partitioning, indexing, and query optimizations to improve performance
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            .subheading.mb-3 <a href="https://github.com/shahrk/graft" target="_blank">GRaft</a>
                            p 
                                | Developed a raft based distributed Key Value store in Go, did a manual implementation of raft instead of using an existing library
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            .subheading.mb-3 <a href="https://github.com/shahrk/casper-frontend" target="_blank">Casper Game</a>
                            p 
                                | Web based flappy bird like game with social media login and leaderboards developed using JavaScript, SpringBoot & Redis
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-3
                        .flex-grow-1
                            .subheading.mb-3 Non Volatile Virtual File System
                            p 
                                | A Java FAT file system made using File Allocation Table and File Entry Table
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            .subheading.mb-3 Smart Tic-Tac-Toe
                            p 
                                | A Tic-Tac-Toe game engine that never loses. Developed using minimax and optimized using alpha-beta pruning

            // Contact
            section#contact.resume-section
                .resume-section-content
                    h2.mb-5 Contact
                    p 
                        | If you liked my work or have queries about any of my projects, you can reach out to me via email or DM me on Twitter. If you'd like to contribute to any of my projects you can simply open an issue on GitHub.
                    i.fab.fa-github
                    a(href='https://github.com/shahrk', target='_blank')
                        | shahrk
                    br
                    i.fab.fa-twitter
                    a(href='https://twitter.com/rajshah_06', target='_blank')
                        | rajshah_06
                    br
                    i.far.fa-envelope
                    a(href='mailto:rshah28@ncsu.edu', target='_blank')
                        | rshah28@ncsu.edu
                    

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')