//
// Global
//

:root {
    --color-page-background: #{$light-bg-color};
    --color-text: #{$light-text-color};
    --display-sun: #{$no-display};
    --display-moon: #{$show-display};
}

.dark {
    --color-page-background: #{$dark-bg-color};
    --color-text: #{$dark-text-color};
    --display-moon: #{$no-display};
    --display-sun: #{$show-display};
}

a {
    text-decoration: none;
}

body {
    padding-top: $navbar-base-height;
    color: var(--color-text);
    background-color: var(--color-page-background);
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    line-height: 1;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    font-size: 3rem !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: 0.87rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
